<div class="body">
    <div class="productos-titulo">
        <h1>Bienvenido al panel de Ventas</h1>
    </div>
    <div class="content">
        <div class="cabecera">
            <div class="acciones">
                <div class="inputs">
                    <label for="">Producto:</label>
                    <input (input)="buscarVentaPorNombreProducto()" [(ngModel)]="nombreProductoBuscado" type="search" placeholder="Ejm: Superstar">
                </div>
                <div class="inputs">
                    <label for="">Método P.:</label>
                    <input (input)="buscarVentasPorMetodoPago()" [(ngModel)]="metodoPagoBuscado" type="search" placeholder="Ejm: Yape">
                </div>
                <div class="fecha-group">
                    <input type="date" name="fechaInicio" id="fechaInicio" [(ngModel)]="fechaInicio">
                    <input type="date" name="fechaFin" id="fechaFin" [(ngModel)]="fechaFin">
                    <button (click)="buscarVentasPorFechas()">🔍</button>
                </div>              
                <button (click)="mostrarModalReporteVentasMetodoPago()"><i class="fa-solid fa-wallet"></i> Reporte Método Pago</button>
               <!--<button ><i class="fa-solid fa-file-pdf"></i> Generar PDF</button>-->
                <button (click)="limpiarFiltros()"><i class="fa-solid fa-broom"></i> Limpiar filtros</button>
            </div>
            <div class="agregar">
                <button (click)="mostrarModalAgregarVenta()"><i class="fa-solid fa-plus"></i> Agregar Venta</button>
            </div>

        </div>
        <div class="tabla-content">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Productos</th>
                        <th>Monto Total</th>
                        <th>Método Pago</th>
                        <th>Dinero Cliente</th>                        
                        <th>Vuelto</th>
                        <th>Fecha</th>
                        <th>Generar Nota Venta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let venta of ventas">
                        <td>{{venta.id}}</td>
                        <span *ngFor="let prod of venta.productos_vendidos; let last = last">
                            {{ prod.nombreProducto }} ({{prod.cantidad}})<span *ngIf="!last">, </span>
                        </span>
                        <td>S/. {{venta.monto_total}}</td>
                        <td>{{venta.metodoPago}}</td>
                        <td>S/. {{venta.dinero_cliente}}</td>
                        <td>S/. {{venta.vuelto}}</td>
                        <td>{{venta.fechaCompra | date:'yyyy-MM-dd HH:mm'}}</td><!--Para formatear la fecha-->
                        <td class="button-acciones">
                            <button (click)="descargarVentaPDF(venta.id)" class="print">
                                <i class="fa-solid fa-print"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Mensaje cuando no hay resultados para la busqueda del nombre de producto-->
        <p *ngIf="ventas.length === 0 && nombreProductoBuscado.trim() !== ''">No se encontraron resultados
            para la marca: <strong>{{nombreProductoBuscado}}</strong> </p>
        <!-- Mensaje cuando no hay resultados para la busqueda entre fechas-->
        <p class="p-not-content" *ngIf="ventas.length === 0 && fechaInicio && fechaFin">No se encontraron resultados
        entre las fechas {{fechaInicio}} y {{fechaFin}}</p>
        <!-- Controles de paginación -->
        <div class="paginacion">
            <button (click)="prevPage()" [disabled]="currentPage === 0"><i class="fa-solid fa-chevron-left"></i>
                Anterior</button>
            <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
            <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Siguiente <i
                    class="fa-solid fa-chevron-right"></i></button>
        </div>

            
    </div>
</div>

<!--Seccion Modal-->
<div *ngIf="isModalReporteVentasMetodoPago == true">
    <app-ventas-reporte-metodo-pago></app-ventas-reporte-metodo-pago>
</div>
<div *ngIf="isModalAgregarVenta == true">
    <app-ventas-add-modal></app-ventas-add-modal>
</div>

