<div class="contenedor">
    <div class="modal-content">
        <div class="modal-content-header">
            <div class="titulo-modal">
                <h1>Registrar una venta:</h1>
            </div>
            <div class="modal-boton">
                <a>
                    <button (click)="cerrarModalAgregarProducto()"><i class="fa-solid fa-circle-xmark"></i></button>
                </a>
            </div>
        </div>
        <div class="modal-buscador-productos">
            <div class="buscador">
                <label for="">Nombre del Producto:</label>
                <input (input)="buscarProductoPorNombre()" [(ngModel)]="nombreProductoBuscado" type="search"
                    placeholder="Ejm: Adidas">
                <button (click)="limpiarFiltros()"><i class="fa-solid fa-broom"></i> Limpiar filtro</button>
            </div>
            <div class="tabla-content">
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Stock</th>
                            <th>Precio Unitario</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let producto of productos ">
                            <td>{{producto.codigo}}</td>
                            <td>{{producto.nombreProducto}}</td>
                            <td>{{producto.marca}}</td>
                            <td>{{producto.cantidad}}</td>
                            <td>{{producto.precio_unitario}}</td>
                            <td>
                                <button (click)="agregarProductoAVenta(producto)">Agregar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mensaje">
                <!-- Mensaje cuando no hay resultados para la busqueda de marca-->
                <p *ngIf="productos.length === 0 && nombreProductoBuscado.trim() !== ''">No se encontraron resultados
                    para el nombre: <strong>{{nombreProductoBuscado}}</strong> </p>
            </div>
        </div>
        <!--Acuerda de agregar por ejemplo formControlName="marca", ya que sin esto no se ejecutara ninguna accion porque el formulario no reconocera estos campos-->
        <!--Esta es la seccion donde se lista los productos agregados a una venta-->
        <hr>
        <div class="productos-agregados">
            <h3>Producto(s) seleccionado(s) para la venta:</h3>
            <div class="scroll-tabla">
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th>Subtotal</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of productosVenta; let i = index">
                            <td>{{p.codigo}}</td>
                            <td>{{p.nombreProducto}}</td>
                            <td>{{p.marca}}</td>
                            <td><input type="number" [(ngModel)]="p.cantidad" min="1"></td>
                            <td>{{p.precio_unitario}}</td>
                            <td>{{p.cantidad * p.precio_unitario | number: '1.2-2'}}</td>
                            <td><button (click)="eliminarProductoDeVenta(i)"><i id="trash"
                                        class="fa-solid fa-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

        </div>

        <!--Esta es la seccion para crear una venta-->
        <div class="modal-inputs">
            <form [formGroup]="ventaForm" (ngSubmit)="registrarVenta()">
                <div class="inputs-compartidos">
                    <!--
                    <div>
                        <label for="metodoPago">Método de Pago:</label>
                        <input formControlName="metodoPago" id="metodoPago" name="metodoPago" type="text" required>
                    </div>
                    -->
                    <!--Lo reemplace por este combo, para que solo se escoja y no se escriba, para evitar errores de tipografia-->
                    <div>
                        <label for="metodoPago">Método de Pago:</label>
                        <select formControlName="metodoPago" id="metodoPago" name="metodoPago" required>
                            <option value="">Seleccione una opción</option>
                            <option *ngFor="let metodo of metodosPago" [value]="metodo">{{ metodo }}</option>
                          </select>
                    </div>
                    <div>
                        <label for="dinero_cliente">Dinero Cliente:</label>
                        <input formControlName="dinero_cliente" id="dinero_cliente" name="dinero_cliente" type="number"
                            required>
                    </div>
                </div>
                <div class="calculos">
                    <p><strong>Total:</strong> {{ calcularTotal() | number: '1.2-2' }} soles</p>
                    <p><strong>Dinero del Cliente:</strong> {{ ventaForm.get('dinero_cliente')?.value || 0 | number:
                        '1.2-2'
                        }} soles</p>
                    <p><strong>Vuelto:</strong> {{ calcularVuelto() | number: '1.2-2' }} soles</p>
                </div>
                <div class="boton-agregar">
                    <button type="submit">Registrar Venta</button>
                </div>
            </form>
        </div>
    </div>
</div>